div.css-1r6slb0.e1tzin5v2 {
    background-color: #EEEEEE;
    padding: 5% 5% 5% 9%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

div.css-12w0qpk.e1tzin5v2 {
    background-color: #EEEEEE;
    padding: 5% 5% 5% 9%;
    border-radius: 5px;
}

div.css-1ht1j8u e16fv1kl0 {
    background-color: #EEEEEE;
    padding: 5% 5% 5% 9%;
    border-radius: 5px;   
}
