div.css-1r6slb0.e1tzin5v2 {
    background-color: #EEEEEE;
    padding: 5% 5% 5% 13%;
    border-radius: 5px;
}

div.css-12w0qpk.e1tzin5v2 {
    padding: 5% 5% 5% 9%;
    border-radius: 5px;
}

div.css-sjnw96.e1tzin5v1 {
    background-color: #FADBD8;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
}
